<ion-view hide-nav-bar="true">
    <ion-content>
        <div class="row row-center backRojo" align="center">
            <div class="col hide" ui-sref="main.alertaDos">
                <img src="main/assets/images/icono/84.png" width="80px" alt="">
                <p class="fontBlanco5">Alerta </p>
            </div>
            <div class="col" ui-sref="main.alertaDos">
                <img src="main/assets/images/bit/triste.png" width="70px" class="padding10Top" alt="">
                <p class="fontBlanco">Por falta de red no pudimos contactar</p>
                <p class="fontBlanco"> a ninguno de tus contactos.</p>
            </div>
        </div>
    </ion-content>
</ion-view>