<ion-view view-title="">
    <ion-content class="">
        <div align="center" class="padding10">
            <img src="main/assets/images/perfil1.jpg" class="img4" alt="">
            <p class="fontNegro">Eduin Hernandez Garnica</p>
            <p class="fontAzul">Necesita de tu ayuda </p>
            <br>
        </div>
        <div class="row">
            <div class="col-50">
                <div align="center">
                    <img src="main/assets/images/icono/51.png" width="20px" alt="" class="alignV">
                    <span class="fontAzul alignV">Está a 300 m</span>
                </div>
            </div>
            <div class="col-50">
                <div align="center">
                    <img src="main/assets/images/icono/113.png" width="20px" alt="" class="alignV">
                    <span class="fontRojo1 alignV">911</span>
                </div>
            </div>
        </div>
        <div class="backVerde" style="height:150px;">
            <p class="text-center">Mapa</p>
        </div>
        <div align="center">
            <button ui-sref="main.alerta" class="button3" style="margin-top:15%"><img src="main/assets/images/icono/87.png" width="20px" alt="">
            </button>
            <p class="fontVerde5">Ya estoy ayudando</p>
        </div>
    </ion-content>
</ion-view>