<ion-view view-title="">
    <ion-content class="backCrema">
        <div class="backBlanco">
            <div align="center" class="padding10">
                <img src="main/assets/images/perfil1.jpg" class="img4" alt="">
                <p class="fontNegro">Eduin Hernandez Garnica</p>
                <p class="fontNegro9">Edad: 20 años</p>
                <p class="fontNegro9">Género: Femenino</p>
                <p class="fontNegro9">Altura: 158 cm</p>
                <p class="fontNegro9">Peso: 58kg</p>
                <p class="fontNegro9">Día de nacimiento: 18 /07/1985</p>
                <p class="fontNegro9">Embarazada: No</p>
            </div>


            <div class="row backVerde" align="center">
                <div class="col-33 padding5Top">
                    <img src="main/assets/images/icono/98.png" width="20px" alt="">
                    <p class="fontBlanco7">Tipo sanguineo</p>
                </div>
                <div class="col-33 bordeCol padding5Top">
                    <img src="main/assets/images/icono/97.png" width="20px" alt="">
                    <p class="fontBlanco7">Alergias</p>
                </div>
                <div class="col-33 padding5Top">
                    <img src="main/assets/images/icono/91.png" width="20px" alt="">
                    <p class="fontBlanco7">Padecimientos actuales</p>
                </div>
            </div>
            <div align="center" class="padding10Top">
                <div class="row">
                    <div class="col-33">
                        <p class="fontGris7">O +</p>
                    </div>
                    <div class="col-33">
                        <p class="fontGris7">Penicilina, Aspirina</p>
                    </div>
                    <div class="col-33">
                        <p class="fontGris7">Diabetes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="backBlanco margin10Top padding10">
            <p class="text-center fontNegro5">Contactos de emergencia </p>
            <div class="row padding10">
                <div class="col-25" align="center">
                    <img src="main/assets/images/perfil1.jpg" class="img9" alt="">
                </div>
                <div class="col-75">
                    <p class="fontNegro3">Minerva Dominguez </p>
                    <p class="fontGris3">5566172222</p>
                </div>
            </div>
            <div align="center">
                <div class="divider1"></div>
            </div>
            <div class="row padding10">
                <div class="col-25" align="center">
                    <img src="main/assets/images/perfil.jpg" class="img9" alt="">
                </div>
                <div class="col-75">
                    <p class="fontNegro3">Minerva Dominguez</p>
                    <p class="fontGris3">5566172222</p>
                </div>
            </div>
            <div align="center">
                <button class="button18">Ya estoy bien </button>
            </div>
        </div>
    </ion-content>
</ion-view>