<ion-view view-title="">
    <ion-content class="">
        <div class="">
            <div align="center">
                <p class="fontNegro5 bloque12">¡Gracias por tu ayuda! </p>
                <p class="fontNegro">Hemos enviado una notificación a los</p>
                <p class="fontNegro">contactos de Ana </p>

                <img src="main/assets/images/perfil1.jpg" class="img4 bloque12" alt="">
                <p class="fontNegro">Eduin Hernandez</p>
                <p class="fontAzul8" ui-sref="main.amigo">Ver perfil </p>
            </div>
            <div align="center" class="bloque1"><!--desplegar modal 1 de alertas en la vista modales-->
                <img src="main/assets/images/icono/52.png" width="35px" alt="">
                <p class="fontAzul8">Llamar al 911</p>
            </div>
        </div>
    </ion-content>
</ion-view>
