<ion-view view-title="">
    <ion-content class="">
        <div align="center" class="padding5Top">
            <img src="main/assets/images/perfil1.jpg" class="img4" alt="">
            <p class="fontNegro11">Eduin ha activado la alarma</p>
            <p class="fontNegro11">de emergencia</p>
            <br>
            <p class="fontGris">Personas que ayudan: </p>
        </div>
        <div class="row row-center padding5Top">
            <div class="col-25" align="center">
                <img src="main/assets/images/perfil1.jpg" class="img9" alt="">
            </div>
            <div class="col-75">
                <p class="fontNegro3">Minerva Dominguez</p>
                <p class="fontGris4">Presencial </p>
            </div>
        </div>
        <div class="row row-center padding5Top">
            <div class="col-25" align="center">
                <img src="main/assets/images/cruz.png" class="img9" alt="">
            </div>
            <div class="col-75">
                <p class="fontNegro3">Cruz Roja</p>
                <p class="fontGris4">Telefono</p>
            </div>
        </div>
        <div class="backVerde padding10Top">
            <div class="row" align="center">
                <div class="col-50">
                    <img src="main/assets/images/icono/94.png" width="20px" alt="">
                    <p class="fontBlanco7">Se encuentra a:</p>
                    <p class="fontBlanco7">8.5 Km</p>
                </div>
                <div class="col-50">
                    <img src="main/assets/images/icono/95.png" width="20px" alt="">
                    <p class="fontBlanco7">Hora de la alerta:</p>
                    <p class="fontBlanco7">10:35 am</p>
                </div>
            </div>
        </div>
        <div class="backVerde" style="height:150px;">
            <p class="text-center">Mapa</p>
        </div>
    </ion-content>
</ion-view>