<ion-view view-title="Comentarios">
    <ion-content class="padding">
        <div class="row row-center margin10Top">
            <div class="col-20">
                <div class="izquierda">
                    <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                </div>
            </div>
            <div class="col-80">
                <div class="derecha">
                    <div class="padding10">
                        <p class="izquierda fontGris7">Charles Xavier</p>
                        <p class="derecha fontGris7">20 Min</p>
                    </div>
                    <div class="row row-center margin10Top">
                        <div class="pico6"></div>
                        <div class="backCrema bordeIzquierda">
                            <p class="fontNegro10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum erroro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-center margin10Top">
            <div class="col-80">
                <div class="izquierda">
                    <div class="padding10">
                        <p class="derecha fontGris7">Charles Xavier</p>
                        <p class="izquierda fontGris7">20 Min</p>
                    </div>
                    <div class="row row-center margin10Top">
                        <div class="backCrema bordeDerecha">
                            <p class="fontNegro10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum erroro</p>
                        </div>
                        <div class="pico7"></div>
                    </div>
                </div>
            </div>
            <div class="col-20">
                <div class="derecha">
                    <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                </div>
            </div>
        </div>

        <div class="row row-center margin10Top">
            <div class="col-20">
                <div class="izquierda">
                    <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                </div>
            </div>
            <div class="col-80">
                <div class="derecha">
                    <div class="padding10">
                        <p class="izquierda fontGris7">Charles Xavier</p>
                        <p class="derecha fontGris7">20 Min</p>
                    </div>
                    <div class="row row-center margin10Top">
                        <div class="pico8"></div>
                        <div class="backCrema bordeIzquierda1">
                            <p class="fontNegro10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum erroro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-center margin10Top">
            <div class="col-80">
                <div class="izquierda">
                    <div class="padding10">
                        <p class="derecha fontGris7">Charles Xavier</p>
                        <p class="izquierda fontGris7">20 Min</p>
                    </div>
                    <div class="row row-center margin10Top">
                        <div class="backCrema bordeDerecha1">
                            <p class="fontNegro10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum erroro</p>
                        </div>
                        <div class="pico9"></div>
                    </div>
                </div>
            </div>
            <div class="col-20">
                <div class="derecha">
                    <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="row">
            <div class="col-90">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Escribe un comentario" class="miInput">
                </label>
            </div>
            <div class="col-10">
                <div class="button15"><img src="main/assets/images/icono/87.png" width="15px" alt=""></div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>