<ion-view view-title="Publica">
    <ion-content class="padding">
        <div class="row row-center">
            <div class="col-50"> 
            <!--<img src="main/assets/images/perfil.jpg" class="img9 alignV" alt=""> -->
             <div class="circuloGris">
                                <span>A</span>
                            </div>
            </div>
            <div class="col-50">
                <!---desplegar modal privacidad de vista modales-->
                <button class="button21 derecha alignV"> <img src="main/assets/images/icono/173.png" width="15px" alt=""> Público </button>
            </div>
        </div>
        <div class="row">
            <div class="padding10">
                <br>
                <label class="item-input-wrapper">
                    <textarea rows="10" cols="50" name="" id="" placeholder="" class="" style="width:100%"></textarea>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach>
        <div class="row row-center">
            <div class="col-75">
                <div class="row" align="center">
                    <div class="col-20"> <img src="main/assets/images/icono/121.png" class="alignV" width="20px" alt=""> </div>
                    <div class="col-20"> <img src="main/assets/images/icono/120.png" class="alignV" width="20px" alt=""> </div>
                    <div class="col-20"> <img src="main/assets/images/icono/117.png" class="alignV" width="20px" alt=""> </div>
                    <div class="col-20"> <img src="main/assets/images/icono/174.png" class="alignV" width="20px" alt=""> </div>
                    <div class="col-20"> <img src="main/assets/images/icono/123.png" class="alignV" width="20px" alt=""> </div>
                </div>
            </div>
            <div class="col-25">
                <p class="fontAzul">Compartir</p>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>