<ion-view view-title="Publica">
    <ion-content class="padding">
        <div>
            <p class="fontNegro">Para:<span class="fontAzul">Público</span></p>
            <br>

            <div class="row row-center margin5Top">
                <div class="col-80 padding10Lef">
                    <p class="fontAzul3">Público</p>
                    <p class="fontNegro10">Visible para todos los usuario de bitrubio</p>
                </div>
                <div class="col-20 ">
                    <div class="derecha padding10Rig">
                        <label for="" class="checkbox checkbox-circle">
                            <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="divider">
            </div>
            <div class="row row-center margin5Top">
                <div class="col-80 padding10Lef">
                    <p class="fontAzul3"> Mi comunidad</p>
                    <p class="fontNegro10">Visible para tus amigos, familiares, doctores y expertos</p>
                </div>
                <div class="col-20 ">
                    <div class="derecha padding10Rig">
                        <label for="" class="checkbox checkbox-circle">
                            <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="divider">
            </div>
            <div class="row row-center margin5Top">
                <div class="col-80 padding10Lef">
                    <p class="fontAzul3">Amigos y familiares</p>
                    <p class="fontNegro10">Visible para tus amigos y familiares</p>
                </div>
                <div class="col-20 ">
                    <div class="derecha padding10Rig">
                        <label for="" class="checkbox checkbox-circle">
                            <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="divider">
            </div>
            <div class="row row-center margin5Top">
                <div class="col-80 padding10Lef">
                    <p class="fontAzul3">Doctores y Expertos</p>
                    <p class="fontNegro10">Visible para tus doctores y expertos en salud</p>
                </div>
                <div class="col-20 ">
                    <div class="derecha padding10Rig">
                        <label for="" class="checkbox checkbox-circle alignV">
                            <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>