<ion-view view-title="Donaciones">
   <ion-nav-buttons side="right">
        <div>
            <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="">
        <div align="center" class="padding10">
            <p class="fontAzul padding10Top">Información para el banco de sangre</p>
            <img src="main/assets/images/perfil1.jpg" class="img4" alt="">
            <div class="padding10Top">
                <p class="fontNegro3">Paciente.Eduin hernandez</p>
                <p class="fontNegro3">Hospital.Médica sur</p>
                <p class="fontNegro3">Habitación.123</p>
            </div>
        </div>
        <div class="backVerde"> 
            <div class="row" align="center">
                <div class="col-50 col-offset-25 padding10">
                    <select name="" id="" class="miSelect3">
                        <option value="">¿Cuándo irás a donar?</option>
                        <option value="">18 junio</option>
                        <option value="">20 junio</option>
                        <option value="">21 junio</option>
                        <option value="">22 junio</option> 
                    </select>
                    <p class="fontBlanco hide">fecha</p>
                </div>

            </div>
        </div> 
        <div class="pico">
            
        </div>
       <div class="padding10Top">
            <div class="backVerde" style="height:150px;">
            <p class="text-center">Mapa</p>
        </div>
       </div>
        <div align="center">
            <button class="button3" style="margin-top:15%"><img src="main/assets/images/icono/87.png" width="20px" alt="">
            </button>
            <p class="fontVerde5">Confirma donación</p>
        </div>
    </ion-content>
</ion-view>
