<ion-view view-title="donar">
    <ion-content class="padding">
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro"> Soy mayor de 18 años</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro">Peso mínimo de 50 kg</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro">Tengo buena salud</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro">Cuento con identificación oficial</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro">Hoy tengo tos, gripe, dolores de cabeza o</p>
                <p class="fontNegro">estómago</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row margin10Top">
            <div class="col-90">
                <p class="fontNegro">Padezco o he padecido</p>
                <p class="fontNegro">epilepsia, hepatitis, sífilis,</p>
                <p class="fontNegro"> paludismo, cáncer, sido o</p>
                <p class="fontNegro">enfermedades severas de corazón</p>
            </div>
            <div class="col10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro">He ingerido bebidas</p>
                <p class="fontNegro">alcohólicas en las últimas 48hrs</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro">He tenido algún tipo</p>
                <p class="fontNegro">cirugía en los últimos 6 meses</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro">Me he realizado un tatuaje</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="row row-center margin10Top">
            <div class="col-90">
                <p class="fontNegro">Cumplo con todos los requisitos</p>
            </div>
            <div class="col-10">
                <label for="" class="checkbox checkbox-circle">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
            </div>
        </div>
        <br>
        <div class="row margin10Top">
            <div class="">
                <label for="" class="checkbox checkbox-circle alignV">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                </label>
                <span class="fontAzul3 alignV">Acepto términos y condiciones</span>
            </div> 
        </div>
        <div align="center">
            <button ui-sref="main.donacionesDos" class="button3 bloque2"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
        </div>
    </ion-content>
</ion-view>