<ion-view view-title="main module">
    <ion-content class="">

        <div class="padding10Top backBlanco">
            <label class="item item-input inputS"> <img src="main/assets/images/icono/16.png" width="20px;">
                <input type="serch" class="inputS" placeholder="Busca especialidad o grupo"> </label>
        </div>
        <div class="backVerde padding10" align="center">
            <span class="fontBlanco1">Tienes 10 solicitudes de grupos</span>
            <img src="main/assets/images/icono/166.png" width="15px" class="alignV" alt="">
        </div>
        <div class="pico">

        </div>
        <div class="row bloque1" align="center">
            <div class="col-33" ui-sref="main.nuevoGrupo">
                <div class="button8">
                    <img src="main/assets/images/icono/76.png" alt="" width="20px">
                </div>
                <div class="padding5Top">
                    <p class="fontNegro9">Crear nuevo</p>
                    <p class="fontNegro9">grupo</p>
                </div>
            </div>

            <div class="col-33" ui-sref="main.grupoUno">
                <div>
                    <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    <p class="fontNegro9">Nombre</p>
                    <p class="fontAzul5">3 grupos</p>
                </div>
            </div>
            <div class="col-33" ui-sref="main.grupoUno">
                <div> 
                    <div class="circuloGris1">
                        <span>A</span>
                    </div>
                    <div class="padding5Top">
                        <p class="fontNegro9">Nombre</p>
                        <p class="fontAzul5">3 grupos</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
