<ion-view hide-nav-bar="true">
    <ion-content class="backListo">
        <div class="container">
            <div align="center" class="bloque">
                <img src="main/assets/images/bit/feliz.png" class="imgBit" alt="">
                <div class="bloque1">
                    <p class="fontBlanco2">¡Listo!</p>
                    <p class="fontBlanco2">¿Qué quieres hacer primero? </p>
                </div>

                <div class="bloque">
                    <button ui-sref="main.home" class="button4">
                        Cuidar tu salud
                    </button>
                    <br>
                    <button ui-sref="main.dependientes" class="button4">
                        Cuidar la de otros
                    </button>
                    <br>
                    <button ui-sref="main.llenarPerfil" class="button4">
                        Llenar tu perfil médico
                    </button>
                    <br>
                    <button class="button4">
                        Detonar donación
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>