<ion-view view-title="Perfil">
   <ion-nav-buttons side="right">
        <div>
            <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content>
        <div class="row row-center backListo">
               <div class="col">
                <div class="list list-inset">
                <label class="item item-input margin5"> <img src="main/assets/images/icono/2.png" class="img1">
                    <input type="text" placeholder="Escribe tu contraseña"> </label>
            </div>
            <div align="center">
                <button ui-sref="main.expediente" class="button3 bloque2"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
           </div>
        </div>  
    </ion-content>
</ion-view>   