<ion-view view-title="">
    <ion-content class="padding">
        <div class="row bloque1" align="center">
            <div class="col-33">
                <div> <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    <p class="fontNegro9">Sandra Juárez</p>
                    <p class="fontAzul5">Médico</p>
                </div>
            </div>
            <div class="col-33" ui-sref="main.amigo">
                <div> <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    <p class="fontNegro9">Sandra Juárez</p>
                    <p class="fontAzul5">Médico</p>
                </div>
            </div>
            <div class="col-33" ui-sref="main.amigo">
                <div> <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    <p class="fontNegro9">Eduin Hernandez</p>
                    <p class="fontAzul5">Médico</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>