<ion-view view-title="nuevo Dependiente">
    <ion-content class="">
        <form action="">
            <div class="row backPerfil1">
                <div class="col-25"> </div>
                <div class="col-50" align="center">
                    <div class="imgContent1 backImg6"> <img src="main/assets/images/perfil1.jpg" class="img10" alt=""> </div>
                </div>
                <div class="col-25"> </div>
            </div>
            <div class="row padding10" style="margin-top:30px">
                <div class="col-100 list">
                    <label class="item-input-wrapper margin20Top"> <img src="main/assets/images/icono/1.png" class="img1" alt="">
                        <input type="text" placeholder="Usuario" class="miInput"> </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Primer apellido" class="miInput" style="margin-left:30px;"> </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Segundo apellido" class="miInput" style="margin-left:30px;"> </label>
                    <label class="item-input-wrapper margin20Top"> <img src="main/assets/images/icono/176.png" class="img1" alt="">
                        <p class="fontGris3">Sexo</p>
                    </label>
                    <div class="row margin20Top">
                        <div class="col-50" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value=""> </label> <span class="fontGris alignV">Mujer</span> </div>
                        <div class="col-50" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value=""> </label> <span class="fontGris alignV">Hombre</span> </div>
                    </div>
                    <label class="item-input-wrapper margin20Top"> <img src="main/assets/images/icono/177.png" class="img1" alt="">
                        <input type="text" placeholder="Parentezco" class="miInput dateInput"> </label>
                    <label class="item-input-wrapper margin20Top"> <img src="main/assets/images/icono/4.png" class="img1" alt="">
                        <input type="text" placeholder="Fecha de nacimiento" class="miInput dateInput"> </label>
                    <label class="item-input-wrapper margin20Top"> <img src="main/assets/images/icono/6.png" class="img1" alt="">
                        <input type="email" placeholder="Correo electronico" class="miInput"> </label>
                    <label class="item-input-wrapper margin20Top"> <img src="main/assets/images/icono/10.png" class="img1" alt="">
                        <p class="fontGris3">¿Donador? </p>
                    </label>
                    <div class="row margin20Top">
                        <div class="col-33" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value=""> </label> <span class="fontGris alignV">Sangre</span> </div>
                        <div class="col-33" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value=""> </label> <span class="fontGris alignV">Organos</span> </div>
                        <div class="col-33" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value=""> </label> <span class="fontGris alignV">No</span> </div>
                    </div>
                    <div align="center">
                        <button ui-sref="main.conocenos" class="button3 bloque2"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>