<ion-view view-title="Agregar Tarjeta">
    <ion-content class="">
        <form action="" class="">
            <div class="widthTarjeta backTarjeta8 paddingTarjeta">
                <div class="row">
                    <div class="col-75">
                        <div class="list list-inset">
                            <label class="item-input inputT">
                                <input type="text" class="inputT" placeholder="Nombre completo"> </label>
                        </div>
                    </div>
                    <div class="col-25" align="center">
                        <br>
                        <div> <img src="main/assets/images/icono/105.png" alt="" width="20px;">
                            <p class="fontBlanco">scan</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style="">
                    <div class="col-25">
                        <div class="list  list-inset">
                            <label class="item-input inputT ">
                                <input type="number" maxlength="4" class="inputT" placeholder="1234"> </label>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="list list-inset">
                            <label class="item-input inputT ">
                                <input type="number" maxlength="4" class="inputT" placeholder="1234"> </label>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="list list-inset">
                            <label class="item-input inputT ">
                                <input type="number" maxlength="4" class="inputT" placeholder="1234"> </label>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="list list-inset">
                            <label class="item-input inputT ">
                                <input type="number" maxlength="4" class="inputT" placeholder="1234"> </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="">
                    <div class="col-25 col-offset-25">
                        <div class="list list-inset" style="margin-bottom:2px;">
                            <label class="item-input inputT">
                                <input type="number" class="inputT" placeholder="01/19"> </label>
                        </div>
                        <p class="text-center fontBlanco" style="margin:0; padding:0;">vigencia</p>
                    </div>
                    <div class="col-25 col-offset-25" align="center">
                        <!--despliega modal cmabio de color de tarjeta -->
                        <div class="" style="margin-top:25px"> <img src="main/assets/images/icono/175.png" alt="" width="25px;"> </div>
                    </div>
                </div> 
                <br> </div>
            <label class="item-input-wrapper" style="margin:15px;">
                <input type="text" placeholder="cvv" class="miInput"> <img src="main/assets/images/icono/122.png" width="15px" alt=""> </label><br>
            <div align="center" class="bloque">
                <div class="row"> 
                    <div class="col-50 col-offset-20">
                        <button class="button16"><img src="main/assets/images/icono/69.png" width="20px" alt=""></button>
                        <button class="button3 derecha"><img src="main/assets/images/icono/87.png" width="20px" alt=""> </button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>