<ion-view view-title="perfil medico">
    <ion-nav-buttons side="right">
        <div> <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span> </div> <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt=""> </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader backPerfil1">
        <div class="row" style="width: 100%;">
            <div class="col-25"> </div>
            <div class="col-50" align="center">
                <div class="backImg4"> <img src="main/assets/images/perfil1.jpg" class="img10" alt=""> </div>
                <p class="fontNegro1">Eduin Hernandez</p>
                <p class="fontGris4">Médico general</p>
                <p class="fontVerde6">Ciudad de México</p>
            </div>
            <div class="col-25"> <img src="main/assets/images/icono/109.png" class="derecha" width="30px;" style="margin:85px 15px 0 0" alt=""> </div>
        </div>
    </ion-header-bar>
    <ion-content style="margin-top:145px;">
        <div class="">
            <div class="pico4"> </div>
            <br>
            <div class="backVerde">
                <p class="text-center fontBlanco1 padding10">Su salud puesta en un gastroenterólogo certificado. Más de 20 años de experiencia en el área.</p>
            </div>
            <div class="row row-center padding20" align="center">
                <div class="col-33">
                    <p class="fontGris4"> <img src="main/assets/images/icono/116.png" width="20px" alt=""> <sup class="fontGris4"> 20</sup> </p>
                    <p class="fontGris2">Amigos en común </p>
                </div>
                <div class="col-33">
                    <p class="fontGris4"> <img src="main/assets/images/icono/115.png" width="20px" alt=""> <sup class="fontGris4"> 20</sup> </p>
                    <p class="fontGris2">Bitrubians</p>
                </div>
                <div class="col-33"> <img src="main/assets/images/icono/114.png" width="20px" alt="">
                    <p class="fontGris2">$500</p>
                </div>
            </div>
            <div class="row row-center padding20" align="center">
                <div class="col-33">
                    <p class="fontGris4"><img src="main/assets/images/icono/112.png" width="20px" alt=""> <sup class="fontGris4"> 20</sup> </p>
                    <p class="fontGris2">Ver comentarios</p>
                </div>
                <div class="col-33">
                    <p class="fontGris4"> <img src="main/assets/images/icono/102.png" width="20px" alt=""> <sup class="fontGris4"> 20</sup> </p>
                    <p></p>
                </div>
                <div class="col-33"> <span>
                <img src="main/assets/images/icono/111.png" width="20px" alt="">          
                 <img src="main/assets/images/icono/110.png" width="20px" alt="">
                 </span>
                    <p class="fontGris2">idiomas</p>
                </div>
            </div>
        </div>
        <ul class="row miTab" align="center">
            <li class="col20" ng-click="tabUnofn()">
                <a> <img src="main/assets/images/icono/29.png" width="20px" alt=""> </a>
            </li>
            <li class="col20" ng-click="tabDosfn()">
                <a> <img src="main/assets/images/icono/46.png" width="20px" alt=""> </a>
            </li>
            <li class="col20" ng-click="tabTresfn()">
                <a> <img src="main/assets/images/icono/9.png" width="20px" alt=""> </a>
            </li>
            <li class="col20" ng-click="tabCuatrofn()">
                <a> <img src="main/assets/images/icono/47.png" width="20px" alt=""> </a>
            </li>
            <li class="col20" ng-click="tabCincofn()">
                <a><img src="main/assets/images/icono/15.png" width="20px" alt=""></a>
            </li>
        </ul>
        <div ng-show="tabU">
            <br>
            <div class="row row-center backGris padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/28.png" width="20px" alt="">
                    <p class="fontAzul6">Aseguradoras</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Meetlife, GNP ,Allianz, Mapfree,VRIM</p>
                </div>
            </div>
            <div class="row row-center padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/21.png" width="20px" alt="">
                    <p class="fontAzul6">Tecnología</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Microcelular, factores de Tranf.</p>
                </div>
            </div>
            <div class="row row-center backGris padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/56.png" width="20px" alt="">
                    <p class="fontAzul6">Educación</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Médico General</p>
                    <p class="fontNegro8"> Universidad Iberoamericana</p>
                    <p class="fontNegro8">Ced. 000000000 2015</p>
                </div>
            </div>
            <div class="row row-center padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/57.png" width="20px" alt="">
                    <p class="fontAzul6">Diplomados</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Administración Hospitalaria UT. 2015</p>
                </div>
            </div>
            <div class="row row-center backGris padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/59.png" width="20px" alt="">
                    <p class="fontAzul6">Publicaciones</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Telemedicina Gaceta UNAM..</p>
                    <p class="fontNegro8">El poder de la prevención WFM.</p>
                </div>
            </div>
            <div class="row row-center  padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/50.png" width="20px" alt="">
                    <p class="fontAzul6">Congresos</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Congreso de infectología Bayer. </p>
                    <p class="fontNegro8">Congreso de Medicina Preventiva MSD.</p>
                </div>
            </div>
            <div class="row row-center backGris padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/65.png" width="20px" alt="">
                    <p class="fontAzul6">Otras disciplinas</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Reiki, Kinesiología</p>
                </div>
            </div>
            <div class="row row-center  padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/63.png" width="20px" alt="">
                    <p class="fontAzul6">Experiencia</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Director de Consultas Externas GEA</p>
                </div>
            </div>
            <div class="row row-center backGris padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/64.png" width="20px" alt="">
                    <p class="fontAzul6">Academia</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Profr. Anatomía Avanzada LaSalle</p>
                </div>
            </div>
            <div class="row row-center  padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/61.png" width="20px" alt="">
                    <p class="fontAzul6">Investigaciones</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Cura alternativa para la Artritis Reumatoide</p>
                </div>
            </div>
            <div class="row row-center backGris padding10">
                <div class="col-25" align="center"> <img src="main/assets/images/icono/60.png" width="20px" alt="">
                    <p class="fontAzul6">Consultorios</p>
                </div>
                <div class="col-75">
                    <p class="fontNegro8">Hospital ABC Santa Fé, Médica Sur, Hospital Ángeles del Pedregal.</p>
                </div>
            </div>
        </div>
        <div ng-show="tabD">
            <div class="margin10Top">
                <p class="fontAzul4 text-center">Elige el consultorio en donde quieres que te atienda</p>
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Ingresa tu ubicación" class="miInput"> </label>
            </div>
            <div class="backVerde" style="height:200px">
                <h1 class="text-center">MAPA</h1> </div>
        </div>
        <div ng-show="tabT">
            <div class="padding10">
                <br>
                <!--link  azul 
               que salgan los consultorios del doctor-->
                <p class="fontAzul1 text-center"><u>Hospital Ángeles del Pedregal</u></p>
                <br>
                <p class="fontVerde text-center">Horarios disponibles </p>
            </div>
            <div class="backGris1 padding10">
                <div class="row row-center" align="center">
                    <div class="col-20"> <img src="main/assets/images/icono/25.png" width="15px" alt=""> </div>
                    <div class="col-20">
                        <p class="fontGris2">febrero</p>
                    </div>
                    <div class="col-20">
                        <p class="fontAzul">marzo</p>
                    </div>
                    <div class="col-20">
                        <p class="fontGris2">abril</p>
                    </div>
                    <div class="col-20"> <img src="main/assets/images/icono/24.png" width="15px" alt=""> </div>
                </div>
            </div>
            <div class="row padding10">
                <div class="row row-center" align="center">
                    <div class="col-20"> <img src="main/assets/images/icono/25.png" width="15px" alt=""> </div>
                    <div class="col-20">
                        <p class="fontGris5">14</p>
                        <p class="fontGris2">Jueves</p>
                    </div>
                    <div class="col-20">
                        <p class="fontAzul7">28</p>
                        <p class="fontAzul5">Martes</p>
                    </div>
                    <div class="col-20">
                        <p class="fontGris5">16</p>
                        <p class="fontGris2">Jueves</p>
                    </div>
                    <div class="col-20"> <img src="main/assets/images/icono/24.png" width="15px" alt=""> </div>
                </div>
            </div>
            <div class=" backVerde row padding10">
                <div class="row row-center" align="center">
                    <div class="col-20"> <img src="main/assets/images/icono/165.png" width="15px" alt=""> </div>
                    <div class="col-20">
                        <p class="fontBlanco6">9:00 h</p>
                    </div>
                    <div class="col-20">
                        <p class="fontBlanco1">13:00 h</p>
                    </div>
                    <div class="col-20">
                        <p class="fontBlanco6">9:00 h</p>
                    </div>
                    <div class="col-20"> <img src="main/assets/images/icono/166.png" width="15px" alt=""> </div>
                </div>
            </div>
            <br>
            <div align="center" class="padding20" ui-sref="main.agendaCita">
                <button class="button19"> Pedir cita </button>
            </div>
        </div>
        <div ng-show="tabCu">
            <br>
            <div align="center">
                <button class="buttonVerde"> <span style="line-height:40px;"> Llamadas </span> <img src="main/assets/images/icono/163.png" class="derecha" width="40px" alt=""> </button>
            </div>
            <br>
            <div align="center">
                <button class="buttonVerde"> <span style="line-height:40px;"> Videollamada </span> <img src="main/assets/images/icono/164.png" class="derecha" width="40px" alt=""> </button>
            </div>
            <br> </div>
        <div ng-show="tabCi">
            <br>
            <div align="center" class="figura padding10">
                <p class="fontBlanco1">Recomienda este doctor a otras personas</p>
            </div>
            <div class="pico"> </div>
            <br>
            <div>
                <div class="padding10">
                    <div class="row row-center">
                        <div class="col-33">
                            <p class="fontNegro2">Sandra Juárez</p>
                        </div>
                        <div class="col-33" align="center">
                            <div class="backImg1"> <img src="main/assets/images/perfil.jpg" class="img9" alt=""> </div>
                            <p class="fontGris1">¡Vacaciones!</p>
                        </div>
                        <div class="col-33 marginCheck">
                            <label for="" class="checkbox checkbox-circle">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value=""> </label>
                        </div>
                    </div>
                </div>
                <div class="divider3"> </div>
                <div class="padding10">
                    <div class="row row-center">
                        <div class="col-33">
                            <p class="fontNegro2">Eduin Garnica</p>
                        </div>
                        <div class="col-33" align="center">
                            <div class="backImg"> <img src="main/assets/images/perfil1.jpg" class="img9" alt=""> </div>
                            <p class="fontGris1">¡Vacaciones!</p>
                        </div>
                        <div class="col-33 marginCheck">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value=""> </label>
                        </div>
                    </div>
                </div>
                <div class="divider3"> </div>
                <div class="padding10">
                    <div class="row row-center">
                        <div class="col-33 padding10Lef">
                            <p class="fontNegro1">Sandra Juárez </p>
                            <p class="fontNegro1">Sandra Juárez </p>
                        </div>
                        <div class="col-33" align="center">
                            <div class="backImg1">
                                <div class="circuloGris"> <span>A</span> </div>
                            </div>
                            <p class="fontGris1">¡Vacaciones! </p>
                        </div>
                        <div class="col-33 marginCheck">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value=""> </label>
                        </div>
                    </div>
                </div>
                <div class="divider3"> </div>
                <div align="center">
                    <button ui-sref="main.recomendar" class="button3 bloque2"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>