<ion-view view-title="Mis recetas">
    <ion-content>
        <div class="padding10" align="center">
            <img src="main/assets/images/perfil1.jpg" class="img9" alt="">
            <p class="fontNegro">Eduin Hernandez Garnica</p>
            <p class="fontNegro9">Medico general</p>
            <p class="fontNegro9">10 de junio 2016</p>
        </div>
<br> 
        <div class="row" align="center">
            <div class="col-50">
                <p class="fontNegro9"><span class="fontAzul5">CED</span> D7DHHBCJ662</p>
            </div>
            <div class="col-50">
                <p class="fontNegro9"><span class="fontAzul5">RFC</span> HSGHJ887E7E</p>
            </div>
        </div>
        <br>
   

        <div class="backGris">
            <div class="row padding10">
                <div class="col-33">
                    <p class="fontNegro">Tafitol flex</p> 
                </div>
                <div class="col-67">
                    <p class="fontNegro9">Tafitol flex 30 tabletas</p>
                    <p class="fontNegro9">Paracetamol 300 mg</p>
                    <p class="fontNegro9">1 tableta c 12 hrs por 1 semana</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row padding10">
                <div class="col-33">
                    <p class="fontNegro">Ranitidina</p>
                </div>
                <div class="col-67">
                    <p class="fontNegro9">Tafitol flex 30 tabletas</p>
                    <p class="fontNegro9">Paracetamol 300 mg</p>
                    <p class="fontNegro9">1 tableta c 12 hrs por 1 semana</p>
                </div>
            </div>
        </div>
        <div class="backGris padding10">
            <div class="row">
                <div class="col-33">
                    <p class="fontNegro">Tafitol flexx</p>
                </div>
                <div class="col-67">
                    <p class="fontNegro9">Tafitol flex 30 tabletas</p>
                    <p class="fontNegro9">Paracetamol 300 mg</p>
                    <p class="fontNegro9">1 tableta c 12 hrs por 1 semana</p>
                </div>
            </div>
        </div>
        <br>
        <div align="center" class="">
            <p class="fontAzul5">Vigencia: 12 diciembre 2017</p>
           <div class="padding20">
                <img src="main/assets/images/codigo.png" width="150px;" class="bloque11" alt="">
           </div>
            <p class="fontNegro9">Insurgentes sur No 115. Cold</p>
        </div>
        <div align="center">
            <div class="bloque2">
                <img src="main/assets/images/icono/54.png" width="35px;" alt="">
                <p class="fontAzul5">Enviar por email</p>
            </div>
            <br>
        </div>
    </ion-content>
</ion-view>