<ion-view view-title="Recomendar">
    <ion-content>
        <div class="row padding10">
            <div class="col-20" align="center">
                <img src="main/assets/images/perfil.jpg" class="img9" alt="">
            </div>
            <div class="col-80">
                <p class="fontNegro">Hola, te recomiendo al doctor Juan Carlos Hernández Sierra. </p>
            </div>
        </div>
        <div class="backGris padding10" align="center">
            <br>
            <div class="figura2 padding10" style="">
                <p class="fontBlanco">Hola</p>
                <p class="fontBlanco">Será un placer cuidar de tu salud.</p>
            </div>
            <div class="pico3" align="center">

            </div>
            <div class="backImg4">
                <img src="main/assets/images/perfil1.jpg" class="img10" alt="">
            </div>
        </div>
        <div align="center">
            <button class="button3 bloque2"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
        </div>
    </ion-content>
</ion-view>
