<ion-view view-title="Tarjeta">
   <ion-nav-buttons side="right">
        <div>
            <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="widthTarjeta backTarjeta1 padding10">
            <div class="row bloque12">
                <p class="fontBlanco padding10Lef">Personal</p>
            </div>
            <div class="row" style="margin:40px 0 25px 0;" align="center">
                <div class="col-25">
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                </div>
                <div class="col-25">
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                </div>
                <div class="col-25">
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                </div>
                <div class="col-25">
                    <p class="fontBlanco1">1234</p>
                </div>
            </div>
            <div class="row padding10" align="center">
                <div class="col-25">
                    <img src="main/assets/images/icono/110.png" width="25px; " alt="">
                </div>
                <div class="col-25">
                    <p class="fontBlanco1">01/16</p>
                    <p class="fontBlanco">Vigencia</p>
                </div>
                <div class="col-25">
                </div>
                <div class="col-25">
                    <img src="main/assets/images/icono/141.png" width="25px; " alt="">
                </div>
            </div>
        </div>
        <div class="widthTarjeta backTarjeta3 padding10">
            <div class="row bloque12">
                <p class="fontBlanco padding10Lef">Trabajo</p>
            </div>
            <div class="row" style="margin:40px 0 25px 0;" align="center">
                <div class="col-25">
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                </div>
                <div class="col-25">
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                </div>
                <div class="col-25">
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                    <div class="circulo"></div>
                </div>
                <div class="col-25">
                    <p class="fontBlanco1">1234</p> 
                </div>
            </div>
            <div class="row padding10" align="center">
                <div class="col-25">
                    <img src="main/assets/images/icono/110.png" width="25px; " alt="">
                </div>
                <div class="col-25">
                    <p class="fontBlanco1">01/16</p>
                    <p class="fontBlanco">Vigencia</p>
                </div>
                <div class="col-25">

                </div>
                <div class="col-25">
                    <img src="main/assets/images/icono/141.png" width="25px; " alt="">
                </div>
            </div>
        </div>
        <div align="center">
            <div class="bloque1">
                <img ui-sref="main.nuevaTarjeta" src="main/assets/images/icono/55.png" width="35px;" alt="">
            </div><br>
        </div>
    </ion-content>
</ion-view>