<ion-view view-title="main module">
    <!-- do you want padding? -->
    <ion-content class="padding">
        <div class="row" align="center">
            <div class="col-20">
                <button class="button25">
                <img src="main/assets/images/icono/215.png" width="25px" class="alignV" alt="">
                </button>
            </div>
            <div class="col-20">
               <button class="button25">
                    <img src="main/assets/images/icono/216.png" class="alignV" width="25px" alt="">
                </button>
            </div>
            <div class="col-20"> 
                <button class="button24">
                    <img src="main/assets/images/icono/72.png" class="alignV" width="30px" alt="">
                </button>
            </div> 
            <div class="col-20">
                <button class="button25">
                    <img src="main/assets/images/icono/217.png" class="alignV" width="25px" alt="">
                </button>
            </div> 
            <div class="col-20">  
              <button class="button25">
                    <img src="main/assets/images/icono/218.png" class="alignV" width="25px" alt="">
                </button>
            </div> 
        </div>  
    </ion-content>  
    <ion-footer-bar> 
    </ion-footer-bar>
</ion-view>